body {
    background-color: #394F1A;
    background-image: url("backdrop.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    font-size: 36pt;
}

.windowcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dwnldbtn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 1cm;
    width: 300px;
    height: 155px;
}